:root{
    --main-color: #fff8db;
    --secondary-color: #777;
}

*{
    margin:0;
    padding:0;
}

body{
    font-size: 62.5%;
    font-family: sans-serif;
}

header{
    background-color: var(--main-color);
    display: flex;
    flex-flow: row wrap;
    height: autox;
}

header #logo{
    flex-grow: 1;
    padding: 10px;
}

header #logo img{
    width: 200px;
}

header #slogan{
    flex-grow: 1;
    font-size: 1.4rem;
    line-height: 80px;
    padding-right: 20px;
    text-align: right;
}

main{
    margin-top: 20px;
    margin-bottom: 50px;
    /* min-height: 100vh; */
}



footer{
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 30px;
    height: 30px;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:500px) {
    header #logo{
        flex-grow: 1;
        padding: 10px;
        text-align: center;
    }
    
    header #slogan{
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 50px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    
}